<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/assets/css/custom.css" rel="stylesheet">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container register-form">
    <form METHOD="POST" ACTION="/get_package">
        <div class="form">
            <div class="note">
                <p>套件申請範例</p>
            </div>

            <div class="form-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="套件種類" name="package_type" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="套件名稱" name="package_name" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="版本" name="package_version" value=""/>
                        </div>
                        {{ if .report }}
                        <div class="form-group">
                           <a href="{{ .report }}" target=_blank>{{ .project_name }} Risk Report</a> 
                        </div>
                        <div class="form-group">
                           <a href="{{ .sync_url }}" target=_blank>同步套件</a>
                        {{ end }}
                    </div>
                </div>
                <button type="submit" class="btnSubmit">申請</button>
            </div>
        </div>
    </form>
</div>
